//colors
$primary : #231667;
$secondary : #7836FF;
$tertiary: #FF6969;
$dark: black;
$light: white;
$social: #57ADEE;

// background-colors
$bg-primary: #F5F5F5;
$bg-secondary: #FFFFFF;
$tertiary-color: #FF6969;
$secondary-color: #6C63FF;
$main-color: #231667;


// scale
// map-get($padding, "small" )
$b-radius: ("small" : 0.2rem, "normal" : 0.9rem, "large": 1.5rem);
$margin: ("small" : 0.5rem, "normal" :1rem, "large": 1.5rem, "extra": 5rem, "extra-l": 6rem );
$padding: ("small" : 0.5rem, "normal" :1rem, "large": 1.5rem, "extra": 2rem );
$font:  ("extra-s" : .7rem, "small" : .8rem, "normal" : .9rem, "large": 1.2rem, "extra": 2rem, "extra-l": 3rem );
$display: ("small" : 2rem, "normal" : 3rem, "large": 4rem, "extra": 5rem );
$font-weight:  ("normal" : 400, "bold": 600, "bolder": 700 );