//colors
$primary : #231667;
$secondary : #7836FF;
$tertiary: #FF6969;

// background-colors
$bg-primary: #F5F5F5;
$bg-secondary: #FFFFFF;
$tertiary-color: #FF6969;
$secondary-color: #6C63FF;
$main-color: #231667;